
.button {
    /*-fx-color:blue;*/
}

#exitButton {
    /*-fx-color:red;*/
}

#anchorPane {
    -fx-background-image: url("/library.jpg");
}

#confirmField {
    -fx-text-fill: #bf510d;
    -fx-alignment: center;
}

#loginTitleLabel {
    -fx-alignment: center;
    -fx-text-fill: #1e088a;
}

#takeBookTitleLabel {
    -fx-alignment: center;
    -fx-text-fill: #1e088a;
}

#returnBookTitleLabel {
    -fx-alignment: center;
    -fx-text-fill: #1e088a;
}

.label {
    -fx-text-fill: #b91515;
}







