/*stylesheets="/styles/my.css"*/


.button{
    -fx-color:blue;
}

#exitButton {
    -fx-color:red;
}

#anchorPane {
    -fx-background-image: url("/library.jpg");
}

#confirmFieldUser {
    -fx-text-fill: #bf510d;
    -fx-text-alignment: center;
}

.label {
    -fx-text-fill: #b91515;
}



